@font-face {
    font-family: 'VALORANT';
    src: url('../../../fonts/VALORANT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'UniSansHeavy';
    src: url('../../fonts/UniSansHeavyCAPS.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
  font-family: 'DMSans';
  src: url('../../fonts/DMSans_18pt-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}